<!DOCTYPE html>
<html>
  <head>
    <title>Log out</title>
     <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logged Out successfully {req.session.emailid}</h1>
  </body>
</html>